.App {
  text-align: center;
}

.App-link {
  color: #09d3ac;
}

/* .navbar-menu {
  position: absolute;
  bottom: 0;
} */

.error {
  border: 1px solid;
  margin: 10px auto;
  padding: 15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
  max-width: 460px;
  color: #d8000c;
  background-color: #ffbaba;
  background-image: url('https://i.imgur.com/GnyDvKN.png');
}
