.App {
  text-align: center;
  background-color: #fbfadf;
}

.App-link {
  color: #09d3ac;
}

/* .navbar-menu {
  position: absolute;
  bottom: 0;
} */

ul {
  list-style-type: none;
}

.prompt {
  border: #333333;
  border-style: solid;
  padding-bottom: 30px;
  width: 25%;
  margin-left: 530px;
}

.button {
  font: bold 18px Arial;
  text-decoration: none;
  background-color: #eeeeee;
  color: #333333;
  padding: 15px 25px 15px 25px;
  border-top: 1px solid #cccccc;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #cccccc;
}

.error {
  border: 1px solid;
  margin: 10px auto;
  padding: 15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
  max-width: 460px;
  color: #d8000c;
  background-color: #ffbaba;
  background-image: url('https://i.imgur.com/GnyDvKN.png');
}

.navbar {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.navbar-items {
  columns: 2;
}

.navbar-item-add {
  background-color: rgb(206, 236, 129);
  padding: 25px;
  width: 100%;
}

.navbar-item-view {
  background-color: rgb(245, 248, 131);
  padding: 25px;
  width: 100%;
}

.navbar-item-add .navbar-item-view {
  position: relative;
  display: inline-block;
}

.navbar-item-add .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgb(172, 12, 12);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  margin-left: -70px;
}

.navbar-item-add .tooltiptext::after {
  content: ' ';
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(172, 12, 12) transparent transparent transparent;
}

.navbar-item-view .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgb(172, 12, 12);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  margin-left: -70px;
}

.navbar-item-view .tooltiptext::after {
  content: ' ';
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(172, 12, 12) transparent transparent transparent;
}

.navbar-item-add:hover .tooltiptext {
  visibility: visible;
  color: white;
}

.navbar-item-view:hover .tooltiptext {
  visibility: visible;
  color: white;
}

.radioButtonDiv {
  background-color: #c8ec6b;
  margin-bottom: 1rem;
}

fieldset {
  border: none;
}
